/* 
    Created on : 9-28-17
    Author     : DBoyd
	Modified from document by: halcarton
	
	Modified 9/28/2017 by DBoyd
*/

/* ------------------------------------------
GENERAL CONTENT
------------------------------------------ */

/* Styles the p element */
p
{
    padding: 2%;
}

/*This class centers an element and adds some space between other elements*/
.center
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    text-align: center;
}

/* Styles body element */
body
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
}

/* Styles ul element */
ul 
{
    list-style-type: none;
    padding: 1%;
}

/* ------------------------------------------
FRAME CONTENT 

 -- remains in place regardless
    of currently active View.
------------------------------------------ */

/* Style for the title of the app. */
#app_title 
{
	
	text-align: center;
}

/* Style for the panel within which 
View content will be displayed. */
#view_panel 
{
	
    border: 2px solid;
    border-radius: 5px;
    padding: 3%;
    padding-top: 1.5%;
    margin: 3%;
	
}

/* Style for the top and bottom frame bars. */
.frame_bar 
{
    background-color: gray;
    border: 2px solid;
    border-radius: 5px;
    padding: 1.5%;
}

/* Style for list of view_nav buttons */
#view_nav_ul 
{
	
	/* just eye-balling this -- we can be smarter about it... */
	padding-left: 4%; 
}

/* Style for buttons used to change Views. */
.view_nav 
{
	float: left;
	width: 18%;
	background-color: #5c8021;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	border: 2px solid;
	border-radius: 5px;
}
