/* 
    Created on : 9-28-17
    Author     : DBoyd
	Modified from document by: Halie Carton
	
	Modified 12/05/17 by DBoyd
*/

/* ------------------------------------------
GENERAL CONTENT
------------------------------------------ */

/* Styles the p element */
p
{
    padding: 2%;
}

/*This class centers an element and adds some space between other elements*/
.center
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    text-align: center;
}

/* Styles body element */
body
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #045932;
	height: 100%;
}

#footer
{
	background-color: #ffc324;
    text-align: center;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
}

#header
{
	
}

/* Styles ul element */
ul 
{
    list-style-type: none;
    padding: 1%;
}

/* ------------------------------------------
FRAME CONTENT 

 -- remains in place regardless
    of currently active View.
------------------------------------------ */

/* Style for the title of the app. */
#app_title 
{
	color: #ffc324;
	text-align: center;
}

/* Style for the panel within which 
View content will be displayed. */
#view_panel 
{
	
    border: 2px solid;
    border-radius: 5px;
    padding: 3%;
    padding-top: 1.5%;
    margin: 3%;
    border-color: #ffc324;
	
}

/* Style for the top and bottom frame bars. */
.frame_bar 
{
    background-color: gray;
    border: 2px solid;
    border-radius: 5px;
    padding: 1.5%;
    border-color: #ffc324;
}

/* Style for list of view_nav buttons */
#view_nav_ul 
{
	
	/* just eye-balling this -- we can be smarter about it... */
	padding-left: 4%; 
}

/* Style for buttons used to change Views. */
.view_nav 
{
	float: left;
	width: 18%;
	background-color: #5c8021;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	border: 2px solid;
	border-radius: 5px;
}

fieldset
{
    border: 2px solid;
    border-radius: 5px;
    padding: 1.5%;
    border-color: #ffc324;	
}

th, tr, th {
    text-align: center;
}

/* Humboldt.edu link at the bottom of each page*/
#humboldt
{
	text-align: center;
    display: inline-block;
	
}

/* forgot password link*/
#forgotPwd
{
	font-size: 8px;
}

.loginTitle
{
	font-size: 30px;
	color: #ffc324;
}

.headerLogin
{
	text-align: right;
}

.button
{
	border-radius: 6px;
	border-width: 1px;
	font-size: 28px;
	height: 15px;
	width: 76px;
	box-shadow: 10px 10px 5px #FFF6AF;
	font-weight: bold;
	color: #333333;
	border-color: #FFAA22;
	text-shadow: #FFED66;
}

.btn {
  background: #ddeb15;
  background-image: -webkit-linear-gradient(top, #ddeb15, #f5ea20);
  background-image: -moz-linear-gradient(top, #ddeb15, #f5ea20);
  background-image: -ms-linear-gradient(top, #ddeb15, #f5ea20);
  background-image: -o-linear-gradient(top, #ddeb15, #f5ea20);
  background-image: linear-gradient(to bottom, #ddeb15, #f5ea20);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #37f02d;
  background-image: -webkit-linear-gradient(top, #37f02d, #1ac71a);
  background-image: -moz-linear-gradient(top, #37f02d, #1ac71a);
  background-image: -ms-linear-gradient(top, #37f02d, #1ac71a);
  background-image: -o-linear-gradient(top, #37f02d, #1ac71a);
  background-image: linear-gradient(to bottom, #37f02d, #1ac71a);
  text-decoration: none;
}









